
/* ===== CONSTANTS ===== */

html, body, .content {
  background-color: #F8F9FA;
}
h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}
header{
  margin: 0;
}
.highlight{
  color: #3583cd;
}
.break{
  margin-top: 10vh;
}
.sm-break{
  margin-top: 5vh;
}
.xs-break{
  margin-top: 1vh;
}


/* ===== CONSTANT ELEMENTS ===== */

.content {

}
.stats{
}







/* ===== SIDE MENU ===== */


.menu{
  background-color: #FFF;
  color: #cdd3dd;
  animation-duration: 1s;
  animation-delay: 2s;
  min-height: calc(100vh - 57px);  /* Calc to remove navigation height */
  border-right: 1px solid #F0F0F0;
}
.menu-container{
  padding: 0;
}
.menu ul{
  padding: 0;
}
.menu ul li{
  border-bottom: 1px solid #F0F0F0;
  height: 8vh;
  line-height: 8vh;
  list-style-type: none;
  padding-left: 2vw;
}
.sidelogo{
  min-height: 20vh;
}




/* ===== HOMEPAGE ===== */


.card{
  border-radius: 5px;
  border: 1px solid #F0F0F0;
  background-color: #FFF;
}
.stats-line-graph{
  min-height: 40vh;
}







/* ===== LOGIN FORM ===== */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .form-control-email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin .form-control-password {
  margin-bottom: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-group {
  margin-bottom: 0;
}
